<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krux App Engine</title>
    <%- include("nav/styles.ejs") %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>    
    <div class="site-wrap">
        <%- include("nav/navbar.ejs") %>