<h1>WEB SOCKET SAMPLE</h1>
<button onclick="sendCommand()">Envoyer</button>
<script>
  function sendCommand() {
    sendSocketCommand("/kitchen/websockets", undefined, (result) => {
      console.info("result", result);
    });
  }
</script>
