<div class="panel">
  <div class="panel-block">
    <div class="content">
      <h1>Kitchen</h1>
    </div>
  </div>
  <div class="panel-block">
    <p>Serveur @ <%= date %></p>
  </div>
  <div class="panel-block">
    <div class="card">
      <footer class="card-footer">
        <a href="/kitchen/error" class="card-footer-item">Error</a>
        <a href="/kitchen/jsx" class="card-footer-item">JSX</a>
        <a href="/kitchen/api" class="card-footer-item">API</a>
        <a href="/kitchen/upload" class="card-footer-item">Upload</a>
        <a href="/kitchen/websockets" class="card-footer-item">WebSockets</a>
      </footer>
    </div>
  </div>
</div>
